
<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>

  <div class="container mx-auto p-6">
    <button class="btn btn-danger" routerLink="/manage-vehicle"> Back to Manage Vehicles </button>
    <br>
    <br>
    <h2> Vehicle Makes </h2>
    <div *ngIf="vehicleMakes.length > 0">
      <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-md overflow-hidden mt-6">
        <thead class="bg-blue-500 text-white uppercase text-sm">
          <tr>
            <th class="py-3 px-6 text-left">ID </th>
            <th class="py-3 px-6 text-left">Name</th>
            <th class="py-3 px-6 text-left">Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let make of vehicleMakes" class="text-gray-700">
            <td class="py-3 px-6">{{ make.vehicleMakeID }}</td>
            <td class="py-3 px-6">{{ make.name }}</td>
            <td class="py-3 px-6">
              <button class="btn btn-success"
              (click)="navigateToEditMake(make.vehicleMakeID)" >Edit</button>
              <button class="btn btn-danger"
              (click)="deleteMake(make.vehicleMakeID)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="vehicleMakes.length === 0" class="text-center mt-4 text-gray-600">
      No vehicle makes found.
    </div>
