<div class="container mt-4">
  <h4 class="text-center"><strong>Make New Booking</strong></h4>
  <form [formGroup]="bookingForm" (ngSubmit)="saveBooking()">
    <div class="form-group">
      <label for="userName">Username</label>
      <input id="userName" formControlName="userName" class="form-control" placeholder="Enter username" />
    </div>

    <div class="form-group radio-group">
      <label>
        <input type="radio" name="type" (change)="toggleEventProject(true)" [value]="'event'" formControlName="type" /> Event
      </label>
      <label>
        <input type="radio" name="type" (change)="toggleEventProject(false)" [value]="'project'" formControlName="type" /> Project
      </label>
    </div>
    <div *ngIf="!isEvent" class="form-group">
      <label for="projectNumber"> Project Number </label>
      <div class="custom-select-wrapper">
        <select id="projectNumber" formControlName="projectNumber" class="form-control">
          <option *ngFor="let project of projects" [value]="project">{{ project }}</option>
        </select>
        <i class="fa fa-caret-down dropdown-icon"></i>
      </div>
    </div>
    <div *ngIf="isEvent" class="form-group">
      <label for="event">Event</label>
      <input id="event" formControlName="event" class="form-control" placeholder="Enter event" />
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input
        id="startDate"
        formControlName="startDate"
        class="form-control"
        type="datetime-local"
        [min]="minDate"
      />
    </div>


    <div class="form-group">
      <label for="endDate">End Date</label>
      <input id="endDate" formControlName="endDate" class="form-control" type="datetime-local"   [min]="minDate" />
    </div>

    <!-- Just above Vehicle Drop -->
    <div class="form-group">
      <label for="vehicleType">Vehicle Type</label>
      <select id="vehicleType" class="form-control" 
              [(ngModel)]="selectedVehicleType"
              [ngModelOptions]="{standalone: true}"
              (change)="onVehicleTypeChange()"> <!-- Changed to onVehicleTypeChange -->
        <option *ngFor="let type of vehicleTypes" [value]="type">{{type}}</option>
      </select>
    </div>

<!-- Add this section below the Vehicle Type dropdown -->
<div class="filter-section">
  <h5>Additional Vehicle Filters</h5>
  
  <!-- Drive Type -->
  <div class="form-group">
    <label>Drive Type</label>
    <div class="btn-group-vertical">
      <label class="btn btn-outline-secondary">
        <input type="radio" name="driveType" [(ngModel)]="selectedDriveType" 
               [ngModelOptions]="{standalone: true}" value="All" (change)="onDriveTypeChange()"> All
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="driveType" [(ngModel)]="selectedDriveType" 
               [ngModelOptions]="{standalone: true}" value="4x4" (change)="onDriveTypeChange()"> 4x4
      </label>
      <label class="btn btn-outline-secondary">
        <input type="radio" name="driveType" [(ngModel)]="selectedDriveType" 
               [ngModelOptions]="{standalone: true}" value="4x2" (change)="onDriveTypeChange()"> 4x2
      </label>
      
    </div>
  </div>

  <!-- Transmission -->
  <div class="form-group">
    <label>Transmission</label>
    <select class="form-control" [(ngModel)]="selectedTransmission" 
            [ngModelOptions]="{standalone: true}" (change)="onTransmissionChange()">
      <option value="All">All Transmissions</option>
      <option value="Manual">Manual</option>
      <option value="Automatic">Automatic</option>
    </select>
  </div>

  <!-- Features Filter -->
<div class="form-group">
  <label>Features</label>
  <div class="checkbox-group">
    <label class="checkbox-inline">
      <input type="checkbox" [(ngModel)]="hasTowBar" 
             [ngModelOptions]="{standalone: true}" (change)="onFeaturesChange()"> Tow Bar
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" [(ngModel)]="hasCanopy" 
             [ngModelOptions]="{standalone: true}" (change)="onFeaturesChange()"> Canopy
    </label>
  </div>
</div>
</div>

<!-- Existing Vehicle Dropdown -->
<div class="form-group">
  <label for="vehicleName">Vehicle</label>
  <select id="vehicleName" formControlName="vehicleName" class="form-control">
    <option *ngFor="let vehicle of filteredVehicles" [value]="vehicle.name">{{ vehicle.name }} - {{vehicle.registrationNumber }}</option>
  </select>
</div>

    <!-- <button type="submit" class="btn btn-success" [disabled]="!bookingForm.valid">Save</button> -->
    <button type="submit" class="btn btn-success booking-button">
      <i class="fas fa-calendar-check"></i> Save
    </button>

    <button type="button" class="btn btn-danger" (click)="router.navigate(['/booking-list'])">Cancel</button>
  </form>
</div>



<app-notifications *ngIf="notificationMessage" [message]="notificationMessage" [isSuccess]="isSuccess"></app-notifications>
<app-help></app-help>
