.modal-header .close {
  margin-left: auto;
}

.logo-image {
  max-width: 5000px; /* Adjust maximum width as needed */
  height: 150px;
  margin: auto; /* Center align the container */
  padding: 20px; /* Add padding to create space inside the container */
  box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.filter-section {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.checkbox-group {
  display: flex;
  gap: 15px;
  padding: 10px 0;
}

.btn-group-vertical {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-outline-secondary {
  text-align: left;
}

button.booking-button {
  background-color: #14063b;;
  border-bottom: 2px solid #14063b;;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center; /* Center the content */
  align-items: center; /* Vertically center the icon and text */
  width: 100%; /* Adjust based on your design. This makes the button fill the container. */
  text-align: center;
}

/* Add some margin or padding between the icon and text */
.booking-button i {
  margin-right: 8px;
}

.btn-danger {
  background-color: #da1e31;
  border-color: #d82537;
}

.close.text-white {
  color: #fff;
  background-color: #dc3545;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}

.close.text-white span {
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

#event {
  width: 100%;
}

.radio-group {
  display: flex;
  align-items: center;
}

.radio-group label {
  margin-right: 20px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select-wrapper select {
  width: 100%;
  appearance: none;
  padding-right: 30px; /* Space for the icon */
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* To make sure icon doesn't interfere with select box */
}
