<div class="menu-bar" style="background-color: #1a365d;">
  <ul>
    <li><a routerLink="/vehicles" class="text-white uppercase text-sm" >VEHICLES</a></li>
    <li><a routerLink="/pool-vehicle" class="text-white uppercase text-sm">Pool Vehicles</a></li>
    <li><a routerLink="/manage-vehicle" class="text-white uppercase text-sm">Manage Vehicles <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu">
            <ul>
              <li><a routerLink="/colour">Colours</a></li>
              <li><a routerLink="/fuel-type">Fuel Types</a></li>
              <li><a routerLink="/insurance">Insurance Covers</a></li>
              <li><a routerLink="/vehicle-make">Vehicle Makes</a></li>
              <li><a routerLink="/vehicle-model">Vehicle Models</a></li>
              <li><a routerLink="/status">Status</a></li>
            </ul>
          </div>
    </li>
    <li><a routerLink="/license-disks" class="text-white uppercase text-sm">License Discs</a>
    </li>
    <li><a routerLink="/service" class="text-white uppercase text-sm">Service</a></li>
  </ul>
</div>




<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  
  <div class="container">
    <h2>Edit Insurance Cover </h2>
    <form [formGroup]="coverForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Insurance Cover Name</label>
        <input 
          id="name" 
          formControlName="name" 
          class="form-control" 
          type="text" 
        />
        <div *ngIf="coverForm.get('insuranceCoverName')?.invalid && coverForm.get('insuranceCoverName')?.touched" class="text-danger">
          Insurance Cover required
        </div>
      </div>
  
      <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="coverForm.invalid"
      >
        Save Changes
      </button>
      <a routerLink="/insurance" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
  
  
