
<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  
  <div *ngIf="disks.length > 0">
    <br>
    <br>
    
    <button class="btn btn-danger" routerLink="/manage-vehicle"> BACK TO MANAGE VEHICLES  </button>
    <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-md overflow-hidden mt-6">
      <thead class="bg-blue-500 text-white uppercase text-sm">
        <tr>
          <th class="py-3 px-6 text-left">ID </th>
          <th class="py-3 px-6 text-left">Vehicle ID</th>
          <th class="py-3 px-6 text-left">License Expiry Date</th>
          <th class="py-3 px-6 text-left">Status (Valid or Expired ) </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disk of disks" class="text-gray-700">
          <td class="py-3 px-6">{{ disk.id }}</td>
          <td class="py-3 px-6">{{ disk.vehicleID}}</td>
          <td class="py-3 px-6">{{ disk.licenseExpiryDate  }} </td>
          <td class="py-3 px-6">{{ disk.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="disks.length === 0" class="text-center mt-4 text-gray-600">
    No license discs found.
  </div>

  
