<div class="menu-bar" style="background-color: #1a365d;">
  <ul>
    <li><a routerLink="/vehicles" class="text-white uppercase text-sm" >VEHICLES</a></li>
    <li><a routerLink="/pool-vehicle" class="text-white uppercase text-sm">Pool Vehicles</a></li>
    <li><a routerLink="/manage-vehicle" class="text-white uppercase text-sm">Manage Vehicles <i class="fas fa-caret-down"></i></a>
        <!-- <div class="dropdown-menu">
            <ul>
              <li><a routerLink="/colour">Colours</a></li>
              <li><a routerLink="/fuel-type">Fuel Types</a></li>
              <li><a routerLink="/insurance">Insurance Covers</a></li>
              <li><a routerLink="/vehicle-make">Vehicle Makes</a></li>
              <li><a routerLink="/vehicle-model">Vehicle Models</a></li>
              <li><a routerLink="/status">Status</a></li>
              <li>
                <a routerLink="/pool-vehicles">Colour <i class="fas fa-caret-right"></i></a>
                
                <div class="dropdown-menu-1">
                  <ul>
                    <li><a routerLink="/add-colour"> Add Colour </a></li>
                    <li><a routerLink="/colour">Manage Colours </a></li>
                    <li><a routerLink="/pool-vehicles">Team-3</a></li>
                    <li><a routerLink="/pool-vehicles">Team-4</a></li>
                  </ul>
                </div>
              </li>
              <li><a routerLink="/pool-vehicles">FAQ</a></li>
            </ul>
          </div> -->
    </li>
    <li><a routerLink="/license-disks" class="text-white uppercase text-sm">License Discs</a>
    </li>
    <li><a routerLink="/service" class="text-white uppercase text-sm">Service</a></li>
  </ul>
</div>


<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  
  <div *ngIf="disks.length > 0">
    <br>
    <br>
    
    <button class="btn btn-danger" routerLink="/manage-vehicle"> BACK TO MANAGE VEHICLES  </button>
    <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-md overflow-hidden mt-6">
      <thead class="bg-blue-500 text-white uppercase text-sm">
        <tr>
          <th class="py-3 px-6 text-left">ID </th>
          <th class="py-3 px-6 text-left">Vehicle ID</th>
          <th class="py-3 px-6 text-left">License Expiry Date</th>
          <th class="py-3 px-6 text-left">Status (Valid or Expired ) </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disk of disks" class="text-gray-700">
          <td class="py-3 px-6">{{ disk.id }}</td>
          <td class="py-3 px-6">{{ disk.vehicleID}}</td>
          <td class="py-3 px-6">{{ disk.licenseExpiryDate  }} </td>
          <td class="py-3 px-6">{{ disk.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="disks.length === 0" class="text-center mt-4 text-gray-600">
    No license discs found.
  </div>

  
