
<h1> Manage Vehicles</h1>

<!-- src/app/colour-list/colour-list.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <a href="/add-colour" class="btn btn-primary">Add Colour</a><br>
          <a href="/colour" class="btn btn-success">View Colours</a><br>
          <a href="/colour" class="btn btn-dark">Manage Colours</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <a href="/add-fuel" class="btn btn-primary">Add Fuel Type</a><br>
          <a href="/fuel-type" class="btn btn-success">View Fuel Types</a><br>
          <a href="/fuel-type" class="btn btn-dark">Manage Fuel Types</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <a href="/add-insurance" class="btn btn-primary">Add Insurance Cover</a><br>
          <a href="/insurance" class="btn btn-success">View Insurance Covers</a><br>
          <a href="/insurance" class="btn btn-dark">Manage Insurance Covers</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 4">
        <div class="card-body">
          <a href="/add-make" class="btn btn-primary">Add Vehicle Make</a><br>
          <a href="/vehicle-make" class="btn btn-success">View Vehicle Makes</a><br>
          <a href="/vehicle-make" class="btn btn-dark">Manage Vehicle Makes</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 5">
        <div class="card-body">
          <a href="/add-model" class="btn btn-primary">Add Vehicle Model</a><br>
          <a href="/vehicle-model" class="btn btn-success">View Vehicle Models</a><br>
          <a href="/vehicle-model" class="btn btn-dark">Manage Vehicle Models</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 6">
        <div class="card-body">
          <a href="/status" class="btn btn-success">View Statuses</a>
        </div>
      </div>
    </div>
  </div>
</div>


<app-help></app-help>