
<h1> Manage Vehicles</h1>

<!-- src/app/colour-list/colour-list.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 1">
        <div class="card-body">
          <a href="/add-colour" class="btn btn-primary">Add Colour</a><br>
          <a href="/colour" class="btn btn-success">View Colours</a><br>
          <a href="/colour" class="btn btn-dark">Manage Colours</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 2">
        <div class="card-body">
          <a href="/add-fuel" class="btn btn-primary">Add Fuel Type</a><br>
          <a href="/fuel-type" class="btn btn-success">View Fuel Types</a><br>
          <a href="/fuel-type" class="btn btn-dark">Manage Fuel Types</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 3">
        <div class="card-body">
          <a href="/add-insurance" class="btn btn-primary">Add Insurance Cover</a><br>
          <a href="/insurance" class="btn btn-success">View Insurance Covers</a><br>
          <a href="/insurance" class="btn btn-dark">Manage Insurance Covers</a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 4">
        <div class="card-body">
          <a href="/add-make" class="btn btn-primary">Add Vehicle Make</a><br>
          <a href="/vehicle-make" class="btn btn-success">View Vehicle Makes</a><br>
          <a href="/vehicle-make" class="btn btn-dark">Manage Vehicle Makes</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 5">
        <div class="card-body">
          <a href="/add-model" class="btn btn-primary">Add Vehicle Model</a><br>
          <a href="/vehicle-model" class="btn btn-success">View Vehicle Models</a><br>
          <a href="/vehicle-model" class="btn btn-dark">Manage Vehicle Models</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex">
      <div class="card flex-fill">
        <img src="assets/logo.png" class="card-img-top" alt="Image 6">
        <div class="card-body">
          <a href="/status" class="btn btn-success">View Statuses</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Add after existing rows -->
<div class="row mt-3">
  <div class="col-md-4 d-flex">
    <div class="card flex-fill">
      <img src="assets/logo.png" class="card-img-top" alt="Transmissions">
      <div class="card-body">
        <a href="/add-transmission" class="btn btn-primary">Add Transmission</a><br>
        <a href="/transmission" class="btn btn-success">View Transmissions</a><br>
        <a href="/transmission" class="btn btn-dark">Manage Transmissions</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 d-flex">
    <div class="card flex-fill">
      <img src="assets/logo.png" class="card-img-top" alt="Drive Types">
      <div class="card-body">
        <a href="/add-drive-type" class="btn btn-primary">Add Drive Type</a><br>
        <a href="/drive-type" class="btn btn-success">View Drive Types</a><br>
        <a href="/drive-type" class="btn btn-dark">Manage Drive Types</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 d-flex">
    <div class="card flex-fill">
      <img src="assets/logo.png" class="card-img-top" alt="Cabin Types">
      <div class="card-body">
        <a href="/add-cabin-type" class="btn btn-primary">Add Cabin Type</a><br>
        <a href="/cabin-type" class="btn btn-success">View Cabin Types</a><br>
        <a href="/cabin-type" class="btn btn-dark">Manage Cabin Types</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-4 d-flex">
    <div class="card flex-fill">
      <img src="assets/logo.png" class="card-img-top" alt="Compliances">
      <div class="card-body">
        <a href="/add-compliance" class="btn btn-primary">Add Compliance</a><br>
        <a href="/compliance" class="btn btn-success">View Compliances</a><br>
        <a href="/compliance" class="btn btn-dark">Manage Compliances</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 d-flex">
    <div class="card flex-fill">
      <img src="assets/logo.png" class="card-img-top" alt="Protections">
      <div class="card-body">
        <a href="/add-protection" class="btn btn-primary">Add Protection</a><br>
        <a href="/protection" class="btn btn-success">View Protections</a><br>
        <a href="/protection" class="btn btn-dark">Manage Protections</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 d-flex">
    <div class="card flex-fill">
      <img src="assets/logo.png" class="card-img-top" alt="Vehicle Types">
      <div class="card-body">
        <a href="/add-vehicle-type" class="btn btn-primary">Add Vehicle Type</a><br>
        <a href="/vehicle-type" class="btn btn-success">View Vehicle Types</a><br>
        <a href="/vehicle-type" class="btn btn-dark">Manage Vehicle Types</a>
      </div>
    </div>
  </div>
</div>

<app-help></app-help>