<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  
  <div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <div class="container">
    <button class="btn btn-danger" routerLink="/manage-vehicle"> Back </button>
      <h2>Add Insurance Cover</h2>
      <form [formGroup]="coverForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Insurance Cover Name">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!coverForm.valid">Submit</button>
      </form>
    </div>
    
