<!-- reset-password.component.html -->
<div class="reset-password-container">
    <h2>Reset Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched">
          <small class="error">Email is required and must be a valid email address.</small>
        </div>
      </div>
      <div>
        <label for="newPassword">New Password:</label>
        <input id="newPassword" formControlName="newPassword" type="password" />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
          <small class="error">Password is required and must be at least 6 characters long.</small>
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">Submit</button>
    </form>
  </div>
  

  <app-notifications *ngIf="notificationMessage" [message]="notificationMessage" [isSuccess]="isSuccess"></app-notifications>
