<div *ngIf="postChecks.length > 0">
  <h2>Post Check List</h2>
  <div class="table-container">
    <table class="post-check-table">
      <thead>
        <tr>
          <th *ngFor="let column of visibleColumns">{{ column | titlecase }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let postCheck of pagedPostChecks">
          <td *ngFor="let column of visibleColumns">
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'postCheckId'">{{ postCheck.postCheckId }}</ng-container>
              <ng-container *ngSwitchCase="'closingKms'">{{ postCheck.closingKms }}</ng-container>
              <ng-container *ngSwitchCase="'oilLeaks'">{{ postCheck.oilLeaks ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'fuelLevel'">{{ postCheck.fuelLevel ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'mirrors'">{{ postCheck.mirrors ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'sunVisor'">{{ postCheck.sunVisor ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'seatBelts'">{{ postCheck.seatBelts ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'headLights'">{{ postCheck.headLights ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'indicators'">{{ postCheck.indicators ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'parkLights'">{{ postCheck.parkLights ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'brakeLights'">{{ postCheck.brakeLights ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'strobeLight'">{{ postCheck.strobeLight ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'reverseLight'">{{ postCheck.reverseLight ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'reverseHooter'">{{ postCheck.reverseHooter ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'horn'">{{ postCheck.horn ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'windscreenWiper'">{{ postCheck.windscreenWiper ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'tyreCondition'">{{ postCheck.tyreCondition ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'spareWheelPresent'">{{ postCheck.spareWheelPresent ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'jackAndWheelSpannerPresent'">{{ postCheck.jackAndWheelSpannerPresent ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'brakes'">{{ postCheck.brakes ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'handbrake'">{{ postCheck.handbrake ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'jwMarketingMagnets'">{{ postCheck.jwMarketingMagnets ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'checkedByJWSecurity'">{{ postCheck.checkedByJWSecurity ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'licenseDiskValid'">{{ postCheck.licenseDiskValid ? 'Yes' : 'No' }}</ng-container>
              <ng-container *ngSwitchCase="'comments'">{{ postCheck.comments }}</ng-container>
              <ng-container *ngSwitchCase="'additionalComments'">{{ postCheck.additionalComments }}</ng-container>
              <ng-container *ngSwitchCase="'tripMedia'">
                <div *ngIf="postCheck.tripMedia && postCheck.tripMedia.length > 0">
                  <div *ngFor="let media of postCheck.tripMedia">
                    <p>{{ media.fileName }}</p>
                    <img *ngIf="media.mediaType?.startsWith('image')" [src]="'data:' + media.mediaType + ';base64,' + media.fileContent"
                         alt="{{ media.fileName }}" class="media-image" (dblclick)="openModal(media)">
                    <a *ngIf="media.mediaType?.startsWith('image')" 
                       [href]="'data:' + media.mediaType + ';base64,' + media.fileContent"
                       download="{{ media.fileName }}" 
                       class="download-link">Download</a>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-controls">
    <button (click)="showPreviousColumns()" [disabled]="currentPage === 1">Previous</button>
    <button (click)="showNextColumns()" [disabled]="(currentPage * columnsPerPage) >= allColumns.length">Next</button>
  </div>
</div>


<!-- Modal for Image Viewing -->
<div id="imageModal" class="modal" *ngIf="selectedMedia">
  <span class="close" (click)="closeModal()">&times;</span>
  <img class="modal-content" [src]="selectedMedia ? 'data:' + selectedMedia.mediaType + ';base64,' + selectedMedia.fileContent : ''">
  <div id="caption">{{ selectedMedia?.fileName }}</div>
</div>

<app-help></app-help>