<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="forgotPasswordForm?.get('email')?.invalid && forgotPasswordForm?.get('email')?.touched">
          <small class="error">Email is required and must be a valid email address.</small>
        </div>
      </div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Submit</button>
    </form>
  </div>
  