<div class="w-64 h-screen bg-gray-800 text-white flex flex-col fixed z-50" *ngIf="authService.isLoggedIn | async">
    <!-- Logo -->
     <div class="h-20 flex items-center justify-center border-b border-gray-700">
        <span class="text-2xl font-semibold">Logo</span>
    </div> 
    <!-- Navigation -->
    <nav class="flex-1 px-4 py-6">
        <ul>
            
            <li>
                <a routerLink="/app-profile" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Profile</a>
            </li>
            <li>
                <a routerLink="/app-settings" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Settings</a>
            </li>
            <li>
                <a routerLink="/view-post-check" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">View Post Check</a>
            </li>
            <li>
                <a routerLink="/app-notifications" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Notifications</a>
            </li>
            <li>
                <a routerLink="/create-post-check" class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Create Post Check</a>
            </li>
            <li>
                
  <a class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700" (click)="logout()">Logout</a>
            </li>
            </ul>
    </nav>
    <!-- Footer -->
    <div class="h-16 flex items-center justify-center border-t border-gray-700">
        <span class="text-sm">&copy; J&W Vehicle System</span>
    </div>
</div>


