<div class="container" [class.active]="isActive" id="container">

    <div class="form-container sign-up">
    <form (ngSubmit)="register()">
        <h1>Register Account</h1>
        
        <input type="text" [(ngModel)]="user.name" name="name" placeholder="Name" required />
        <input type="text" [(ngModel)]="user.surname" name="surname" placeholder="Surname" required />

        <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required />
        <input type="phonenumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Phone Number" required />
        <div class="password-container">
          <input
            [type]="passwordFieldType"
            [(ngModel)]="user.password"
            name="password"
            placeholder="Password"
            required
          />
          <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" (click)="togglePasswordVisibility()"></i>
        </div>
        <input type="text" [(ngModel)]="user.role" name="role" placeholder="Role" required />
        <button type="submit">Register</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      </form>
    </div>

    <div class="form-container sign-in">
        <form (ngSubmit)="login()">
        <h1>Login</h1>
        <div class="social-icons">
          <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <span>or use your email password</span>
        <input type="email" [(ngModel)]="credentials.userName" name="userName" placeholder="User Name" required />
        <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Password" required />
        <a href="#">Forget Your Password?</a>
        <button type="submit">Login</button>
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
      </form>
    </div>

    
    <div class="toggle-container">
      <div class="toggle">
        <div class="toggle-panel toggle-left">
          <h1>Welcome Back!</h1>
          <p>Enter your personal details to use all of site features</p>
          <button id="login" (click)="toggleForm()">Login</button>
        </div>
        <div class="toggle-panel toggle-right">
          <h1>Hello, Friend!</h1>
          <p>Register with your personal details to use all of site features</p>
          <button id="register" (click)="toggleForm()">Register</button>
        </div>
      </div>
    </div>
  </div>