<div class="container" [class.active]="isActive" id="container">
  <div class="form-container sign-up" style="padding-top: 40px;">
    <form (ngSubmit)="register()" #registerForm="ngForm">
      <h1>Register Account</h1>
      <input type="text" [(ngModel)]="user.name" name="name" placeholder="Name" required 
             [disabled]="isSubmitting" />
      <input type="text" [(ngModel)]="user.surname" name="surname" placeholder="Surname" required 
             [disabled]="isSubmitting" />
      <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email (@jaws.co.za)" required 
             [disabled]="isSubmitting" />
      <small style="color: #666;">Only jaws.co.za emails allowed</small>
      <input type="tel" [(ngModel)]="user.phoneNumber" name="phoneNumber" placeholder="Phone Number" required 
             [disabled]="isSubmitting" />
      
      <div class="password-container">
        <input [type]="passwordFieldType" [(ngModel)]="user.password" name="password" 
               placeholder="Password" required [disabled]="isSubmitting" />
        <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" 
           (click)="togglePasswordVisibility('password')"></i>
      </div>
      
      <!-- <div class="password-container">
        <input [type]="confirmPasswordFieldType" [(ngModel)]="user.confirmPassword" name="confirmPassword" 
               placeholder="Confirm Password" required [disabled]="isSubmitting" />
        <i class="fa" [ngClass]="confirmPasswordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" 
           (click)="togglePasswordVisibility('confirmPassword')"></i>
      </div> -->

      <input type="file" (change)="onFileSelected($event)" name="profilePhoto" 
             [disabled]="isSubmitting" />
      
      <button type="submit" [disabled]="isSubmitting">
        {{ isSubmitting ? 'Registering...' : 'Register' }}
      </button>

      <app-notifications *ngIf="notificationMessage" [message]="notificationMessage" [isSuccess]="isSuccess">
      </app-notifications>
    </form>
  </div>

  <div class="form-container sign-in">
    <form (ngSubmit)="login()">
      <h1>Login</h1>
      <div class="social-icons">
        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
      </div>
      <span>or use your username and password</span>
      <input type="text" [(ngModel)]="credentials.userName" name="userName" placeholder="Username" required />
      <input type="password" [(ngModel)]="credentials.password" name="password" placeholder="Password" required />
      <!-- 5. Fixed logout link -->
      <a routerLink="/forgot-password">Forgot Your Password?</a>
      <button type="submit">Login</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    </form>
  </div>

  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details to use all of site features</p>
        <button id="login" (click)="toggleForm()">Login</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Hello, Driver!</h1>
        <p>Register with your JAWS email to use all of site features</p>
        <button id="register" (click)="toggleForm()">Register</button>
      </div>
      <button id="home" routerLink="/home">Go Back to Home</button>
    </div>
  </div>
</div>