<div class="menu-bar" style="background-color: #1a365d;">
  <ul>
    <li><a routerLink="/vehicles" class="text-white uppercase text-sm" >VEHICLES</a></li>
    <li><a routerLink="/pool-vehicle" class="text-white uppercase text-sm">Pool Vehicles</a></li>
    <li><a routerLink="/manage-vehicle" class="text-white uppercase text-sm">Manage Vehicles <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu">
            <ul>
              <li><a routerLink="/colour">Colours</a></li>
              <li><a routerLink="/fuel-type">Fuel Types</a></li>
              <li><a routerLink="/insurance">Insurance Covers</a></li>
              <li><a routerLink="/vehicle-make">Vehicle Makes</a></li>
              <li><a routerLink="/vehicle-model">Vehicle Models</a></li>
              <li><a routerLink="/status">Status</a></li>
            </ul>
          </div>
    </li>
    <li><a routerLink="/license-disks" class="text-white uppercase text-sm">License Discs</a>
    </li>
    <li><a routerLink="/service" class="text-white uppercase text-sm">Service</a></li>
  </ul>
</div>




<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
    <!-- <h2> Vehicle Pre-Checklist</h2>
    <p> Complete this checklist BEFORE you book a vehicle. </p>
    <form [formGroup]="checklistForm" > -->
      
  <div class="details">
  
  <div>
    <h2>Post Checklist</h2>
    <form [formGroup]="checklistForm" (ngSubmit)="onSubmitChecklist()">
      <label for="selectedVehicleId">Select Vehicle:</label>
      <select id="selectedVehicleId" formControlName="selectedVehicleId">
        <option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicleID">{{ vehicle.registrationNumber }}</option>
      </select>
      <br>
      <br>
      
    <button (click)="autoFillChecklist()">Auto Fill Checklist</button>
    <br>
      <div class="form-section"  formGroupName="ExteriorChecks">
        <h3>Exterior Checks</h3>
        <!-- Add checkboxes for exterior checks -->
         
        <label>
          <input type="checkbox" formControlName="mirrors"> Mirrors
        </label>
        <label>
          <input type="checkbox" formControlName="oilWaterLeaks"> Oil, water leaks underneath vehicle
        </label>
        <label>
          <input type="checkbox" formControlName="headLights"> Head lights high/low beam
        </label>
        <label>
          <input type="checkbox" formControlName="parkLights"> Park lights
        </label>
        <label>
          <input type="checkbox" formControlName="brakeLights"> Brake lights
        </label>
        <label>
          <input type="checkbox" formControlName="strobeLights"> Strobe lights
        </label>
        <label>
          <input type="checkbox" formControlName="reverseLight"> Reverse Lights 
        </label>
        <label>
          <input type="checkbox" formControlName="tyreCondition"> Tyre condition, rim, nuts, valve, thread
        </label>
        <label>
          <input type="checkbox" formControlName="spareWheelPresent"> Spare wheel present
        </label>
        <label>
          <input type="checkbox" formControlName="damageToInteriorBodywork"> Damage to interior & bodywork
        </label>
        <label>
          <input type="checkbox" formControlName="marketingMagnets"> J&W Marketing Magnets
        </label>
      </div>
  
      <div class="form-section" formGroupName="InteriorChecks">
        <h3>Interior Checks</h3>
        <label>
          <input type="checkbox" formControlName="horn"> Horn
        </label>
        <label>
          <input type="checkbox" formControlName="seatbelt"> Seat belts
        </label>
        <label>
          <input type="checkbox" formControlName="sunVisor"> Sun visor
        </label>
        <label>
          <input type="checkbox" formControlName="sunblock"> Sunblock
        </label>
        <label>
          <input type="checkbox" formControlName="windscreen"> Windscreen wiper & condition
        </label>
      </div>
    
      <div class="form-section" formGroupName="UnderTheHoodChecks">
        <h3>Under the Hood Checks</h3>
        <label>
          <input type="checkbox" formControlName="fuelLevel"> Fuel Level
        </label>
      </div>
    
      <div class="form-section" formGroupName="FunctionalTests">
        <h3>Functional Tests</h3>
        <label>
          <input type="checkbox" formControlName="indicator"> Indicators
        </label>
        <label>
          <input type="checkbox" formControlName="reverseHooter"> Reverse hooter
        </label>
        <label>
          <input type="checkbox" formControlName="brakes"> Brake
        </label>
        <label>
          <input type="checkbox" formControlName="handbrake"> Handbrake
        </label>
      </div>
    
      <div class="form-section" formGroupName="SafetyEquipment">
        <h3>Safety Equipment</h3>
        <label>
          <input type="checkbox" formControlName="fireExtinguisher"> Fire Extinguisher Full
        </label><label>
          <input type="checkbox" formControlName="inspectionValid"> Inspection Valid
        </label>
        <label>
          <input type="checkbox" formControlName="triangleInPlace3x">Triangle In Place (3x)
        </label>
        <label>
          <input type="checkbox" formControlName="jackWheelPresent"> Jack & wheel spanner present
        </label>
      </div>
    
      <div class="form-section" formGroupName="documentation">
        <h3>Documentation</h3>
        <label>
          <input type="checkbox" formControlName="licenseDisks"> License Disks
        </label>
        <label>
          <input type="checkbox" formControlName="checkedBySecurity"> Checked By Security
        </label>
      </div>
      
      <button type="submit" [disabled]="!isFormCompleted">Submit Checklist</button>
    </form>
  
    <h2>Post Trip Checklist</h2>
    <form [formGroup]="postChecklistForm" (ngSubmit)="onSubmitPostChecklist()">
      <!-- Add fields and checkboxes for post checklist -->
  
      <button type="submit" [disabled]="!postChecklistForm.valid" routerLink="/vehicles">Submit Post Checklist</button>
    </form>
  
    <button (click)="onReady()">Ready</button>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- 
  <label> Vehicle </label>&nbsp;
  <select formControlName="state">
  <option *ngFor="let vehicle of vehicles" [ngValue]="vehicle">
    {{ vehicle.vehicleID }}
  </option>
  </select><br>
  
  
  <label> Date </label>&nbsp;
  <input type="date" /><br>
  </div>
        <div class="form-section" formGroupName="exteriorChecks">
          <h3>Exterior Checks</h3>
          <label>
            <input type="checkbox" formControlName="mirrors"> Mirrors
          </label>
          <label>
            <input type="checkbox" formControlName="oilWaterLeaks"> Oil, water leaks underneath vehicle
          </label>
          <label>
            <input type="checkbox" formControlName="headLights"> Head lights high/low beam
          </label>
          <label>
            <input type="checkbox" formControlName="parkLights"> Park lights
          </label>
          <label>
            <input type="checkbox" formControlName="brakeLights"> Brake lights
          </label>
          <label>
            <input type="checkbox" formControlName="strobeLights"> Strobe lights
          </label>
          <label>
            <input type="checkbox" formControlName="reverseLight"> Reverse Lights 
          </label>
          <label>
            <input type="checkbox" formControlName="tyreCondition"> Tyre condition, rim, nuts, valve, thread
          </label>
          <label>
            <input type="checkbox" formControlName="spareWheelPresent"> Spare wheel present
          </label>
          <label>
            <input type="checkbox" formControlName="damageToInteriorBodywork"> Damage to interior & bodywork
          </label>
          <label>
            <input type="checkbox" formControlName="marketingMagnets"> J&W Marketing Magnets
          </label>
        </div>
      
        <div class="form-section" formGroupName="InteriorChecks">
          <h3>Interior Checks</h3>
          <label>
            <input type="checkbox" formControlName="horn"> Horn
          </label>
          <label>
            <input type="checkbox" formControlName="seatbelt"> Seat belts
          </label>
          <label>
            <input type="checkbox" formControlName="sunVisor"> Sun visor
          </label>
          <label>
            <input type="checkbox" formControlName="sunblock"> Sunblock
          </label>
          <label>
            <input type="checkbox" formControlName="windscreen"> Windscreen wiper & condition
          </label>
        </div>
      
        <div class="form-section" formGroupName="UnderTheHoodChecks">
          <h3>Under the Hood Checks</h3>
          <label>
            <input type="checkbox" formControlName="fuelLevel"> Fuel Level
          </label>
        </div>
      
        <div class="form-section" formGroupName="FunctionalTests">
          <h3>Functional Tests</h3>
          <label>
            <input type="checkbox" formControlName="indicator"> Indicators
          </label>
          <label>
            <input type="checkbox" formControlName="reverseHooter"> Reverse hooter
          </label>
          <label>
            <input type="checkbox" formControlName="brakes"> Brake
          </label>
          <label>
            <input type="checkbox" formControlName="handbrake"> Handbrake
          </label>
        </div>
      
        <div class="form-section" formGroupName="SafetyEquipment">
          <h3>Safety Equipment</h3>
          <label>
            <input type="checkbox" formControlName="fireExtinguisher"> Fire Extinguisher Full
          </label><label>
            <input type="checkbox" formControlName="inspectionValid"> Inspection Valid
          </label>
          <label>
            <input type="checkbox" formControlName="triangleInPlace3x">Triangle In Place (3x)
          </label>
          <label>
            <input type="checkbox" formControlName="jackWheelPresent"> Jack & wheel spanner present
          </label>
        </div>
      
        <div class="form-section" formGroupName="documentation">
          <h3>Documentation</h3>
          <label>
            <input type="checkbox" formControlName="licenseDisks"> License Disks
          </label>
          <label>
            <input type="checkbox" formControlName="checkedBySecurity"> Checked By Security
          </label>
        </div>
        
        <div>
          Is the vehicle ready for trip? 
          <button class="btn btn-success" routerLink="/trip">Yes</button>
          <button class="btn btn-danger"> No</button>
        </div>
        <br>
        <button type="submit" [disabled]="!checklistForm.valid" routerLink="/trip">Submit</button>
      </form> -->
  
  <!-- <form [formGroup]="checklistForm">
    <div formGroupName="exteriorChecks">
      <h3>Exterior Checks</h3>
      <label>
        <input type="checkbox" formControlName="Mirrors"/> Mirrors
      </label>
      <label>
        <input type="checkbox" formControlName="OilWaterLeaks"/> Oil, water leaks underneath vehicle
      </label>
      <label>
        <input type="checkbox" formControlName="HeadLights"/> Head lights high / low beam
      </label>
      <label>
        <input type="checkbox" formControlName="ParkLights"/> Park lights
      </label>
      <label>
        <input type="checkbox" formControlName="BrakeLights"/> Brake lights
      </label>
      <label>
        <input type="checkbox" formControlName="StrobeLights"/> Strobe lights
      </label>
      <label>
        <input type="checkbox" formControlName="ReverseLight"/> Reverse lights
      </label>
      <label>
        <input type="checkbox" formControlName="TyreCondition"/> Tyre Condition, rim, nuts, valve,thread
      </label>
      <label>
        <input type="checkbox" formControlName="SpareWheelPresent"/> Spare Wheel Present 
      </label>
      <label>
        <input type="checkbox" formControlName="DamageToInteriorBodywork"/> Damage to interior & bodywork
      </label>
      <label>
        <input type="checkbox" formControlName="MarketingMagnets"/> JW Marketing Magnets
      </label>
    </div>
    <div formGroupName="interiorChecks">
      <h3>Interior Checks</h3>
      <label>
        <input type="checkbox" formControlName="Horn"/> Horn
      </label>
      <label>
        <input type="checkbox" formControlName="Seatbelt"/> Seatbelts
      </label>
      <label>
        <input type="checkbox" formControlName="SunVisor"/> Sunvisor
      </label>
      <label>
        <input type="checkbox" formControlName="Sunblock"/> Sunblock
      </label>
      <label>
        <input type="checkbox" formControlName="Windscreen"/> Windscreen, wiper and condition
      </label>
    </div>
    <div formGroupName="UnderTheHoodChecks">
      <h3>Under The Hood Checks</h3>
      <label>
        <input type="checkbox" formControlName="FuelLevel"/> Fuel Level
      </label>
    </div>
    <div formGroupName="FunctionalTests">
      <h3>Functional Tests</h3>
      <label>
        <input type="checkbox" formControlName="Indicator"/> Indicators
      </label>
      <label>
        <input type="checkbox" formControlName="ReverseHooter"/> Reverse hooter
      </label>
      <label>
        <input type="checkbox" formControlName="Brakes"/> Brakes
      </label>
      <label>
        <input type="checkbox" formControlName="Handbrake"/> Handbrake
      </label>
    </div>
    <div formGroupName="SafetyEquipment">
      <h3>Safety Equipment </h3>
      <label>
        <input type="checkbox" formControlName="Fire Extinguisher"/> Fire Extinguisher
      </label>
      <label>
        <input type="checkbox" formControlName="InspectionValid"/> Inspection Valid
      </label>
      <label>
        <input type="checkbox" formControlName="TriangleInPlace3x"/> Triangle In Place 3x
      </label>
      <label>
        <input type="checkbox" formControlName="JackWheelPresent"/> Jack wheel present
      </label>
    </div>
    <div formGroupName="Documentation">
      <h3>Documentation</h3>
      <label>
        <input type="checkbox" formControlName="LicenseDisks"/> License Disk valid 
      </label>
      <label>
        <input type="checkbox" formControlName="CheckedBySecurity"/> Checked By Security
      </label>
      <label>
        <input type="checkbox" formControlName="CheckedBySecurity"/> Checked By Admin
      </label>
      
    </div>
  
    <button type="button" (click)="onReady()">Ready</button>
    <button type="button" [disabled]="!isFormCompleted" (click)="onSubmit()">Submit</button>
  </form>
  </div> -->
  
  
  
  