<div class="register-container">
    <h2>Register Driver</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" required>
      </div>
  
      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" id="surname" formControlName="surname" required>
      </div>
  
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" required>
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
  
      <div class="form-group">
        <label for="number">Number:</label>
        <input type="text" id="number" formControlName="number" required>
      </div>
  
      <button type="submit" class="btn-submit">Register Driver</button>
    </form>
  </div>
  