<div class="trips-list">
  <h2>All Trips</h2>
  <button (click)="downloadXML()" class="action-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Download All Trips as XML
  </button>
  <table>
    <thead>
      <tr>
        <th>Trip ID</th>
        <th>Vehicle Name</th>
        <th>Location</th>
        <th>Comment</th>
        <th>Travel Start</th>
        <th>Travel End</th>
        <th>Booking ID</th>
        <th>Checklist ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of trips">
        <td>{{ trip.tripId }}</td>
        <td>{{ trip.name }}</td>
        <td>{{ trip.location }}</td>
        <td>{{ trip.comment }}</td>
        <td>{{ trip.travelStart }}</td>
        <td>{{ trip.travelEnd }}</td>
        <td>{{ trip.bookingID }}</td>
        <td>{{ trip.preChecklist?.id }}</td>
        <td>
          <button (click)="deleteTrip(trip.tripId)" class="action-button bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-help></app-help>