<div class="register-form">
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="user.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="surname">Surname</label>
        <input type="text" id="surname" [(ngModel)]="user.surname" name="surname" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required>
      </div>
      <div class="form-group">
        <label for="role">Role</label>
        <input type="role" id="role" [(ngModel)]="user.role" name="role" required>
      </div>
      <button type="submit">Register</button>
    </form>
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
    <p>Already have an account? <a routerLink="/app-login">Login here</a></p>
  </div>
  