<!-- profile.component.html -->



<div  *ngIf="user" >
 
 
 
  <h2>User Profile</h2>
 
   <!-- Profile Picture Section -->
   <div *ngIf="user.profilePhotoUrl">
    <img [src]="user.profilePhotoUrl" alt="Profile Photo" style="width: 150px; height: 150px; border-radius: 50%;" />
  </div>

 
  <p><strong>Username:</strong> {{user.userName}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Name:</strong> {{user.name}}</p>
    <p><strong>Surname:</strong> {{user.surname}} </p>
    <p><strong>Role:</strong> {{user.role}}</p>


     <!-- Edit Button -->
  <button mat-stroked-button color="primary" (click)="openEditModal()">Update Password</button>
</div>

<!-- Error message -->
<div *ngIf="errorMessage">
  <p>Error: {{errorMessage}}</p>
</div>

<app-notifications *ngIf="notificationMessage" [message]="notificationMessage" [isSuccess]="isSuccess"></app-notifications>

  
  <!-- <div *ngIf="errorMessage">
    <p>Error: {{errorMessage}}</p>
  </div> -->
  
  <!-- <button (click)="logout()">Logout</button> -->
  