<div class="container">
  <img src="assets/logo.png" alt="Logo" class="logo-image">

  <h2>Booking History</h2>

  <div class="form-group">
    <label for="username">Enter Username:</label>
    <input type="text" id="username" [(ngModel)]="searchUsername" class="form-control" />
  </div>
  <button (click)="searchBookingHistory()" class="btn search-button">
    <i class="fas fa-search"></i> Search
  </button>


  <div *ngIf="bookings.length > 0">
    <h3>Booking Results</h3>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Booking ID</th>
          <th>Username</th>
          <th>Event</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Vehicle</th>
          <th>Project</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of bookings | paginate: { itemsPerPage: 3, currentPage: page }" >
          <td>{{ booking.bookingID }}</td>
          <td>{{ booking.userName }}</td>
          <td>{{ booking.event }}</td>
          <td>{{ booking.startDate | date }}</td>
           <td>{{ booking.endDate | date }}</td>
          <td>{{ booking.vehicleName }}</td>
          <td>{{ booking.projectNumber }}</td>
          <td>
            <button
      (click)="initiatePreChecklist(booking.bookingID)"
      [disabled]="isStartDatePassed(booking.startDate)"
      [ngClass]="{'disabled-button': isStartDatePassed(booking.startDate)}">
      Complete Pre-Checklist
    </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
<app-help></app-help>
