<div class="charts-wrapper">
  <button class="scroll-button left" (click)="scrollLeft()" >&#10094;</button>
  <div class="charts-container">
    <div class="chart-item">
      <canvas id="vehicleStatusChart"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="vehicleMakeChart"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="bookingTypeChart"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="tripChart"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="bookingStatusChart"></canvas>
    </div>
    <div class="chart-item">
      <canvas id="projectStatusChart"></canvas>
    </div>
  </div>
  <button class="scroll-button right" (click)="scrollRight()" >&#10095;</button>
</div>
