<h1 mat-dialog-title>Edit Prof</h1>
<div mat-dialog-content>
  <form [formGroup]="editProfileForm">
    
    <mat-form-field>
      <input matInput placeholder="Current Password" formControlName="currentPassword" type="password" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="New Password" formControlName="newPassword" type="password" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()">Save</button>
</div>
