.help-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.help-button {
  font-size: 24px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.help-content {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50px;
  right: 0;
  width: 250px;
  z-index: 1000;
}

.help-content input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.help-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.help-content li {
  margin-bottom: 5px;
}


.highlight {
  background-color: yellow;
}