<div class="menu-bar" style="background-color: #1a365d;">
  <ul>
    <li><a routerLink="/pool-vehicles" class="text-white uppercase text-sm" >VEHICLES</a></li>
    <li><a routerLink="/pool-vehicle" class="text-white uppercase text-sm">Pool Vehicles</a></li>
    <li><a routerLink="/manage-vehicle" class="text-white uppercase text-sm">Manage Vehicles <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu">
            <ul>
              <li><a routerLink="/colour">Colours</a></li>
              <li><a routerLink="/fuel-type">Fuel Types</a></li>
              <li><a routerLink="/insurance">Insurance Covers</a></li>
              <li><a routerLink="/vehicle-make">Vehicle Makes</a></li>
              <li><a routerLink="/vehicle-model">Vehicle Models</a></li>
              <li><a routerLink="/status">Status</a></li>
            </ul>
          </div>
    </li>
    <li><a routerLink="/license-disks" class="text-white uppercase text-sm">License Discs</a>
    </li>
    <li><a routerLink="/service" class="text-white uppercase text-sm">Service</a></li>
  </ul>
</div>




<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  
  <div class="container">
    <button class="btn btn-danger" routerLink="/manage-vehicle">Back</button>
    <br><br>
    <h2>Book Vehicle For Service</h2>
    <br><br>
    <form (ngSubmit)="submitService()">
      <div>
        <label for="vehicle">Select Vehicle:</label>&nbsp;
        <select id="vehicle" [(ngModel)]="service.vehicleId" name="vehicleId" required>
          <option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicleID">
            {{ vehicle.name }} - {{ vehicle.registrationNumber }}
          </option>
        </select>
      </div>
      <br>
      <div>
        <label for="adminName">Admin Name:</label>&nbsp;
        <input type="text" id="adminName" [(ngModel)]="service.adminName" name="adminName" required />
      </div>
      <br>
      <div>
        <label for="adminEmail">Admin Email:</label>&nbsp;
        <input type="email" id="adminEmail" [(ngModel)]="service.adminEmail" name="adminEmail" required />
      </div>
      <br>
      <div>
        <label for="description">Description:</label><br>
        <textarea id="description" [(ngModel)]="service.description" name="description" rows="4" cols="50" required></textarea>
      </div>
      <br>
      <div>
        <label for="serviceDate">Service Date:</label>&nbsp;
        <input type="date" id="serviceDate" [(ngModel)]="service.serviceDate" name="serviceDate" required />
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <p>{{ message }}</p>
  </div>
  
  
  
      