<div class="header-container">
  <img src="assets/logo.png" alt="Logo" class="logo">
</div>

<!-- List of Services -->
<br><br>
<h3>List of Services</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="blue-header">Vehicle</th>
      <th class="blue-header">Admin Name</th>
      <th class="blue-header">Admin Email</th>
      <th class="blue-header">Service Date</th>
      <th class="blue-header">Description</th>
      <th class="blue-header">Edit</th>
    </tr>
  </thead>
 <tbody>
  <tr *ngFor="let service of displayServices">
    <td>{{ service.vehicleDisplay }}</td>
    <td>{{ service.adminName }}</td>
    <td>{{ service.adminEmail }}</td>
    <td>{{ service.startDate | date:'dd/MM/yyyy' }} - {{ service.endDate | date:'dd/MM/yyyy' }}</td>
    <td>{{ service.description }}</td>
    <td>
      <button
        (click)="service.serviceID ? editService(service.serviceID) : null"
        class="btn btn-edit">
        Edit
      </button>
    </td>
  </tr>
</tbody>
</table>

<div class="container">
  <br><br>
  <h2>Book Vehicle For Service</h2>
  <br><br>
  <form (ngSubmit)="submitService()">
    <div>
      <label for="vehicle">Select Vehicle:</label>&nbsp;
      <select id="vehicle" [(ngModel)]="service.vehicleID" name="vehicleId" required>
        <option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicleID">
          {{ vehicle.name }} - {{ vehicle.registrationNumber }}
        </option>
      </select>
    </div>
    <br>
    <div>
      <label for="adminName">Admin Name:</label>&nbsp;
      <input type="text" id="adminName" [(ngModel)]="service.adminName" name="adminName" required />
    </div>
    <br>
    <div>
      <label for="adminEmail">Admin Email:</label>&nbsp;
      <input type="email" id="adminEmail" [(ngModel)]="service.adminEmail" name="adminEmail" required />
    </div>
    <br>
    <div>
      <label for="description">Description:</label><br>
      <textarea id="description" [(ngModel)]="service.description" name="description" rows="4" cols="50" required></textarea>
    </div>
    <br>
   <div>
  <label for="startDate">Start Date:</label>&nbsp;
  <input type="date" id="startDate" [(ngModel)]="service.startDate" name="startDate" required />
</div>
<br>
<div>
  <label for="endDate">End Date:</label>&nbsp;
  <input type="date" id="endDate" [(ngModel)]="service.endDate" name="endDate" required />
</div>
    <br>
    <button type="submit" class="btn btn-primary" style="background-color: #14063b;">Submit</button>
  </form>
  <p class="error-message">{{ message }}</p>
</div>
