<p>colour works!</p>
<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  
  </div>
  
  <div class="container mx-auto p-6">
    <button class="btn btn-danger" routerLink="/manage-vehicle"> Back to Manage Vehicles </button>
    <br>
    <br>
    <!-- <div class="search-bar">
      <input type="text" [(ngModel)]="searchUsername" placeholder="Search by username" class="search-input">
      <button (click)="searchDriver()" class="search-button bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Search
      </button>
    </div> -->
   
    <div *ngIf="colours.length > 0">
      <table class="min-w-full bg-white border border-gray-200 shadow-md rounded-md overflow-hidden mt-6">
        <thead class="bg-blue-500 text-white uppercase text-sm">
          <tr>
            <th class="py-3 px-6 text-left">ID </th>
            <th class="py-3 px-6 text-left">Name</th>
            <th class="py-3 px-6 text-left">Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let colour of colours" class="text-gray-700">
            <td class="py-3 px-6">{{ colour.id }}</td>
            <td class="py-3 px-6">{{ colour.name }}</td>
            <td class="py-3 px-6">
              <button class="action-button bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              (click)="navigateToEditColour(colour.id)" >Edit</button>
              <button class="action-button bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="deleteColour(colour.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="colours.length === 0" class="text-center mt-4 text-gray-600">
      No colours found.
    </div>
  <!-- </div>
  <button class="btn btn-danger" routerLink="/manage-vehicle">Back to Manage Vehicles</button>
  <br><br>
  <div>
    <table style="width: 100%;">
      <caption>Colours</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let colour of colours">
          <td>{{ colour.id }}</td>
          <td>{{ colour.name }}</td>
          <td>
            <button (click)="navigateToEditColour(colour.id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->
  