<div class="welcome-wrapper">
    <div class="welcome-container">
        <img src="assets/ford.jpg" alt="Ford Image" class="welcome-image" />
        <div class="welcome-text">
            <h1 class="welcome-title">Welcome to J&W Vehicle System!</h1>
           
            <p class="welcome-instructions">
              Get started by navigating through the menu on the left. Explore available vehicles, manage your bookings, and keep track of your trips effortlessly.
            </p>
        </div>
    </div>
</div>

