<div class="menu-bar" style="background-color: #1a365d;">
  <ul>
    <li><a routerLink="/pool-vehicles" class="text-white uppercase text-sm" >VEHICLES</a></li>
    <li><a routerLink="/pool-vehicle" class="text-white uppercase text-sm">Pool Vehicles</a></li>
    <li><a routerLink="/manage-vehicle" class="text-white uppercase text-sm">Manage Vehicles <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu">
            <ul>
              <li><a routerLink="/colour">Colours</a></li>
              <li><a routerLink="/fuel-type">Fuel Types</a></li>
              <li><a routerLink="/insurance">Insurance Covers</a></li>
              <li><a routerLink="/vehicle-make">Vehicle Makes</a></li>
              <li><a routerLink="/vehicle-model">Vehicle Models</a></li>
              <li><a routerLink="/status">Status</a></li>
            </ul>
          </div>
    </li>
    <li><a routerLink="/license-disks" class="text-white uppercase text-sm">License Discs</a>
    </li>
    <li><a routerLink="/service" class="text-white uppercase text-sm">Service</a></li>
  </ul>
</div>




<!-- <form (ngSubmit)="onSubmit()" #vehicleForm="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" [(ngModel)]="vehicle.name" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" name="description" [(ngModel)]="vehicle.description" class="form-control" required></textarea>
  </div>

  <div class="form-group">
    <label for="dateAcquired">Date Acquired</label>
    <input type="date" id="dateAcquired" name="dateAcquired" [(ngModel)]="vehicle.dateAcquired" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="licenseExpiryDate">License Expiry Date</label>
    <input type="date" id="licenseExpiryDate" name="licenseExpiryDate" [(ngModel)]="vehicle.licenseExpiryDate" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="registrationNumber">Registration Number</label>
    <input type="text" id="registrationNumber" name="registrationNumber" [(ngModel)]="vehicle.registrationNumber" class="form-control" required>
  </div>

  <div class="form-group">
    <label for="insuranceCover">Insurance Cover</label>
    <select id="insuranceCover" name="insuranceCoverID" [(ngModel)]="vehicle.insuranceCoverID" class="form-control" required>
      <option *ngFor="let insurance of insuranceCovers" [value]="insurance.insuranceCoverId">{{insurance.insuranceCoverName}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="colour">Colour</label>
    <select id="colour" name="colourID" [(ngModel)]="vehicle.colourID" class="form-control" required>
      <option *ngFor="let colour of colours" [value]="colour.id">{{colour.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="fuelType">Fuel Type</label>
    <select id="fuelType" name="fuelTypeID" [(ngModel)]="vehicle.fuelTypeID" class="form-control" required>
      <option *ngFor="let fuelType of fuelTypes" [value]="fuelType.id">{{fuelType.fuelName}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="status">Status</label>
    <select id="status" name="statusID" [(ngModel)]="vehicle.statusID" class="form-control" required>
      <option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="vehicleMake">Vehicle Make</label>
    <select id="vehicleMake" name="vehicleMakeID" [(ngModel)]="vehicle.vehicleMakeID" class="form-control" required>
      <option *ngFor="let make of vehicleMakes" [value]="make.vehicleMakeID">{{make.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="vehicleModel">Vehicle Model</label>
    <select id="vehicleModel" name="vehicleModelID" [(ngModel)]="vehicle.vehicleModelID" class="form-control" required>
      <option *ngFor="let model of vehicleModels" [value]="model.vehicleModelId">{{model.vehicleModelName}}</option>
    </select>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" routerLink="/vehicles">Add Vehicle</button>
  </div>
</form> -->
