<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <br>
  
  <div class="container">
    <button class="btn btn-danger" routerLink="/manage-vehicle"> Back </button>
      <h2>Add Colour</h2>
      <form [formGroup]="colourForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group">
          <label for="id">Colour ID:</label>
          <input type="number" formControlName="Id" class="form-control" id="id" placeholder="Enter Colour ID">
        </div> -->
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Colour Name">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!colourForm.valid">Submit</button>
      </form>
    </div>
    
  