<div class="menu-bar" style="background-color: #1a365d;">
  <ul>
    <li><a routerLink="/pool-vehicles" class="text-white uppercase text-sm" >VEHICLES</a></li>
    <li><a routerLink="/pool-vehicle" class="text-white uppercase text-sm">Pool Vehicles</a></li>
    <li><a routerLink="/manage-vehicle" class="text-white uppercase text-sm">Manage Vehicles <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-menu">
            <ul>
              <li><a routerLink="/colour">Colours</a></li>
              <li><a routerLink="/fuel-type">Fuel Types</a></li>
              <li><a routerLink="/insurance">Insurance Covers</a></li>
              <li><a routerLink="/vehicle-make">Vehicle Makes</a></li>
              <li><a routerLink="/vehicle-model">Vehicle Models</a></li>
              <li><a routerLink="/status">Status</a></li>
            </ul>
          </div>
    </li>
    <li><a routerLink="/license-disks" class="text-white uppercase text-sm">License Discs</a>
    </li>
    <li><a routerLink="/service" class="text-white uppercase text-sm">Service</a></li>
  </ul>
</div>




<div class="header-container">
    <img src="assets/logo.png" alt="Logo" class="logo">
  </div>
  <br>
  
  <div class="container">
    <button class="btn btn-danger" routerLink="/manage-vehicle"> Back </button>
      <h2>Add Colour</h2>
      <form [formGroup]="colourForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group">
          <label for="id">Colour ID:</label>
          <input type="number" formControlName="Id" class="form-control" id="id" placeholder="Enter Colour ID">
        </div> -->
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" formControlName="name" class="form-control" id="name" placeholder="Enter Colour Name">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!colourForm.valid">Submit</button>
      </form>
    </div>
    
  