
  
   <div class="search-filter-container">
    <input 
      type="text" 
      [(ngModel)]="searchQuery" 
      (ngModelChange)="onSearchQueryChange()" 
      placeholder="Search vehicles by name, registration number, VIN, or engine number" 
      class="search-bar"

      
    >
    
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
    <button mat-button routerLink="/add-vehicle" style="color: white; background-color: blue;">Add Vehicle</button>
    <button mat-button (click)="exportToExcel()" style="color: white; background-color: green;">Export to Excel</button>
   
  </div>
 
  
  <!-- Vehicles List -->
  <div class="trips-list">
    <h2>All Vehicles</h2>
    <table>
      <thead>
        <tr>
          <th>Vehicle ID</th>
          <th>Name</th>
          <th>Registration Number</th>
          <th>VIN</th>
          <th>Engine No</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of filteredVehicles | paginate: { itemsPerPage: 6, currentPage: page }">
          <td>{{ vehicle.vehicleID }}</td>
          <td>{{ vehicle.name }}</td>
          <td>{{ vehicle.registrationNumber }}</td>
          <td>{{ vehicle.vin }}</td>
          <td>{{ vehicle.engineNo }}</td>
          <td>{{ vehicle.status?.name }}</td>
          <td>
            <button (click)="editVehicle(vehicle.vehicleID)" class="btn btn-success">
              Edit 
            </button>
            <button (click)="deleteVehicle(vehicle.vehicleID)" class="btn btn-danger">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    
  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>


  
  <!-- <div class="container mx-auto p-6" style="width: 100%;">
    <button class="btn btn-danger" routerLink="/add-vehicle"> Add Vehicle </button>
    <br>
    <br>
   
    <div *ngIf="vehicles.length > 0">
      <table class="min-w-full bg-white border border-gray-1000 shadow-md rounded-md overflow-hidden mt-6">
        <thead class="bg-blue-1000 text-white uppercase text-sm">
          <tr>
            <th class="py-3 px-6 text-left">Name</th>
            <th class="py-3 px-6 text-left">Description</th>
            <th class="py-3 px-6 text-left">Registration Number</th>
            <th class="py-3 px-6 text-left">Date Acquired </th>
            <th class="py-3 px-6 text-left">License Expiry Date</th>
            <th class="py-3 px-6 text-left">VIN</th>
            <th class="py-3 px-6 text-left">Engine Number</th>
            <th class="py-3 px-6 text-left">Status </th>
            <th class="py-3 px-6 text-left">Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles" class="text-gray-700">
            <td class="py-3 px-6">{{ vehicle.name}}</td>
            <td class="py-3 px-6">{{ vehicle.description}}</td>
            <td class="py-3 px-6">{{ vehicle.registrationNumber}}</td>
            <td class="py-3 px-6">{{ vehicle.dateAcquired}}</td>
            <td class="py-3 px-6">{{ vehicle.licenseExpiryDate }}</td>
            <td class="py-3 px-6">{{ vehicle.vin }}</td>
            <td class="py-3 px-6">{{ vehicle.engineNo }}</td>
            <td class="py-3 px-6">{{ vehicle.status?.name}}</td>
            <td class="py-3 px-6">
              <button class="action-button bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
              (click)="editVehicle(vehicle.vehicleID)" >Edit</button>
              <button class="action-button bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              (click)="deleteVehicle(vehicle.vehicleID)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    <!-- </div>
    <div *ngIf="vehicles.length === 0" class="text-center mt-4 text-gray-600">
      No vehicles found.
    </div> -->