<div class="flex-1 p-10">
  <div class="bg-gray-200 bg-opacity-75 p-4 rounded">
    <h1 class="text-3xl font-bold mb-6 text-blue-500">Manage Projects</h1>

    <div class="flex justify-between mb-4">
      <button 
        class="bg-blue-500 text-white p-2 rounded hover:bg-blue-700" 
        (click)="openRateModal(null)"
      >
        Add Project
      </button>
      <input 
        [(ngModel)]="searchProjectNumber" 
        type="text" 
        placeholder="Search Project" 
        class="p-2 border rounded w-1/3"
      />
    </div>

    <div class="overflow-x-auto">
      <table class="min-w-full">
        <thead class="bg-blue-500 text-white">
          <tr>
            <th class="p-2">Project Number</th>
            <th class="p-2">Description</th>
            <th class="p-2">Job No</th>
            <th class="p-2">Task Code</th>
            <th class="p-2">Activity Code</th>
            <th class="p-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let project of displayedProjects">
            <td class="p-2">{{ project?.projectNumber }}</td>
            <td class="p-2">{{ project?.description }}</td>
            <td class="p-2">{{ project?.jobNo }}</td>
            <td class="p-2">{{ project?.taskCode }}</td>
            <td class="p-2">{{ project?.activityCode }}</td>
            <td class="p-2 flex space-x-2">
              <i (click)="editProject(project)" class="fa fa-pencil text-green-700 cursor-pointer hover:text-green-900"></i>
              <i (click)="openDeleteConfirmation(project)" class="fa fa-trash text-red-500 cursor-pointer hover:text-red-700"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


 <!-- Pagination Controls -->
 <div class="pagination-controls flex justify-between items-center mt-4">
  <button 
    class="bg-gray-300 text-gray-700 p-2 rounded hover:bg-gray-400" 
    (click)="previousPage()" 
    [disabled]="currentPage === 1"
  >
    Previous
  </button>
  <span class="mx-4">Page {{ currentPage }} of {{ totalPages }}</span>
  <button 
    class="bg-gray-300 text-gray-700 p-2 rounded hover:bg-gray-400" 
    (click)="nextPage()" 
    [disabled]="currentPage === totalPages"
  >
    Next
  </button>
</div>


  <ng-template #deleteConfirmationModal let-modal>
    <div class="modal-header flex justify-between items-center">
      <h4 class="modal-title">Confirm Delete</h4>
      <button 
        type="button" 
        class="text-red-500 text-lg focus:outline-none"
        aria-label="Close" 
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete this project?</p>
    </div>
    <div class="modal-footer flex justify-end">
      <button type="button" class="btn btn-secondary mr-2" (click)="modal.dismiss()">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deleteProject()">Delete</button>
    </div>
  </ng-template>

   <!-- Add/Edit Project Modal -->
   <ng-template #editProjectModal let-modal>
    <div class="modal-header flex justify-between items-center">
      <h4 class="modal-title">{{ isEditMode ? 'Edit Project' : 'Add Project' }}</h4>
      <button 
        type="button" 
        class="text-red-500 text-lg focus:outline-none"
        aria-label="Close" 
        (click)="modal.dismiss()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="saveProject()">
        <div>
          <div class="form-group">
            <label for="projectNumber">Project Number</label>
            <input type="text" [(ngModel)]="projectToEdit.projectNumber" name="projectNumber" class="form-control" />
          </div>
          <div class="form-group">
            <label for="jobNo">Job No</label>
            <input type="text" [(ngModel)]="projectToEdit.jobNo" name="jobNo" class="form-control" />
          </div>

          <div class="form-group">
            <label for="taskCode">Task Code</label>
            <input type="text" [(ngModel)]="projectToEdit.taskCode" name="taskCode" class="form-control" />
          </div>

          <div class="form-group">
            <label for="projectName">Project Name</label>
            <input type="text" [(ngModel)]="projectToEdit.projectNumber" name="projectName" class="form-control" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" [(ngModel)]="projectToEdit.description" name="description" class="form-control" />
          </div>

          <div class="form-group">
            <label for="activityCode">Activity Code</label>
            <input type="text" [(ngModel)]="projectToEdit.activityCode" name="activityCode" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Save' : 'Add' }}</button>
        </div>
      </form>
    </div>
  </ng-template>
</div>