<div class="header-container">
  <img src="assets/logo.png" alt="Logo" class="logo">
</div>

<div class="container">
  <h2>Edit Vehicle</h2>

  <form [formGroup]="editVehicleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" formControlName="name" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" formControlName="description" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="dateAcquired">Date Acquired</label>
      <input id="dateAcquired" formControlName="dateAcquired" class="form-control" type="date">
    </div>
    <div class="form-group">
      <label for="licenseExpiryDate">License Expiry Date</label>
      <input id="licenseExpiryDate" formControlName="licenseExpiryDate" class="form-control" type="date">
    </div>
    <div class="form-group">
      <label for="registrationNumber">Registration Number</label>
      <input id="registrationNumber" formControlName="registrationNumber" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="vin">VIN</label>
      <input id="vin" formControlName="vin" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="engineNo">Engine No</label>
      <input id="engineNo" formControlName="engineNo" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="insuranceCoverID">Insurance Cover</label>
      <select id="insuranceCoverID" formControlName="insuranceCoverID" class="form-control">
        <option *ngFor="let cover of insuranceCovers" [value]="cover.insuranceCoverId">{{ cover.insuranceCoverName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="colourID">Colour</label>
      <select id="colourID" formControlName="colourID" class="form-control">
        <option *ngFor="let colour of colours" [value]="colour.id">{{ colour.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fuelTypeID">Fuel Type</label>
      <select id="fuelTypeID" formControlName="fuelTypeID" class="form-control">
        <option *ngFor="let fuel of fuelTypes" [value]="fuel.id">{{ fuel.fuelName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="statusID">Status</label>
      <select id="statusID" formControlName="statusID" class="form-control">
        <option *ngFor="let status of statuses" [value]="status.id">{{ status.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="vehicleMakeID">Vehicle Make</label>
      <select id="vehicleMakeID" formControlName="vehicleMakeID" class="form-control">
        <option *ngFor="let make of vehicleMakes" [value]="make.vehicleMakeID">{{ make.name }}</option>
      </select>
    </div>
    
    <div class="form-group">
      <label for="vehicleModelID">Vehicle Model</label>
      <select id="vehicleModelID" formControlName="vehicleModelID" class="form-control">
        <option *ngFor="let model of filteredVehicleModels" [value]="model.vehicleModelID">{{ model.vehicleModelName }}</option>
      </select>
    </div>
    

    <button type="submit" class="btn btn-primary">Update</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </form>
</div>

<app-help></app-help>