<div class="audit-log-container">
    <h2>Audit Logs</h2>

    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchUsername"
        placeholder="Search by username">
      <button (click)="onSearch()">
        <i class="fas fa-search"></i>
        Search</button>
    </div>

    <table>
      <thead>
        <tr>
          <th class="blue-header">User</th>
          <th class="blue-header">Action</th>
          <th class="blue-header">Details</th>
          <th class="blue-header">Date</th>
          <th class="blue-header">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let log of auditLogs | paginate: { itemsPerPage: 5, currentPage: page }">
          <td>{{ log.userName }}</td>
          <td>{{ log.action }}</td>
          <td>
            {{ log.details }}
            <!-- <span *ngIf="isRecentlyUpdated(log.timestamp.toString())" class="updated-tag">Updated</span> -->
          </td>
          <td>{{ log.timestamp | date:'short' }}</td>
          <td>
            <!-- <button (click)="onEdit(log)">Edit</button> -->
            <button (click)="onDelete(log.id)" style="background-color: #da1e31; border-color: #d82537;">Delete</button>
          </td>


        </tr>
      </tbody>


    </table>

  <!-- Pagination Controls -->
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
