<div class="container" [ngStyle]="{'background-image': 'url(' + backgroundUrl + ')'}">
    
  
    <header class="jumbotron text-center mt-5">
      <h1 class="display-4">Welcome to the J&W Vehicle Booking System</h1>
      <p class="lead">Your one-stop solution for all your vehicle management needs.</p>
      <a class="btn btn-primary btn-lg" routerLink="/auth" role="button">Get Started</a>
    </header>
  
    <section class="row text-center mt-5">
      <div class="col-md-6">
        <!-- <img src="assets/vehicle1.png" alt="Vehicle 1" class="img-fluid rounded"> -->
        <h3 class="mt-3">Manage Your Fleet</h3>
        <p>Track and manage your vehicle fleet with ease and efficiency.</p>
      </div>
      <div class="col-md-6 ml-1">
        <!-- <img src="assets/vehicle2.png" alt="Vehicle 2" class="img-fluid rounded"> -->
        <h3 class="mt-3">Book Vehicles Effortlessly</h3>
        <p>Seamlessly book vehicles for your projects and events.</p>
      </div>
    </section>
  
    <footer class="text-center mt-5">
      <p>&copy; 2024 J&W System. All rights reserved.</p>
    </footer>
  </div>
  