<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOM6PeR0xG8P2sH9Y1U8Z0s0uDp1he4zLy0t25" crossorigin="anonymous">

<div class="container">
 
  
  <h2 class="title">
    <i class="fas fa-history"></i>
    Trip History
  </h2>
  
  <div class="search-form">
    <input type="text" id="username" [(ngModel)]="searchUsername" 
           (keyup.enter)="fetchPreviousTrips()" class="form-control" 
           placeholder="Search by Username" />
  </div>
  
  <div *ngIf="previousTrips.length > 0" class="trip-results">
    <table class="trip-table">
      <thead>
        <tr>
          <th>Trip ID</th>
          <th>Vehicle Name</th>
          <th>Location</th>
          <th>Comment</th>
          <th>Travel Start</th>
         <!-- <th>Travel End</th>-->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trip of previousTrips">
          <td>{{ trip.tripId }}</td>
          <td>{{ trip.name }}</td>
          <td>{{ trip.location }}</td>
          <td>{{ trip.comment }}</td>
          <td>{{ trip.travelStart | date: 'short' }}</td>
          <!--<td>{{ trip.travelEnd | date: 'short' }}</td>-->
          <td>
            <div class="button-group">
              <button (click)="editTrip(trip)" class="action-button edit">Edit</button>
              
              <button (click)="navigateToCreatePostChecklist(trip.tripId)" 
        class="action-button checklist"
        
        style="background-color: #27ae60;">
  Create Post Checklist
</button>
              <button (click)="navigateToRefuel(trip.tripId)" 
                 class="action-button refuel"
        
        style="background-color: #f39c12;">
  Refuel
              </button>
            </div>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-help></app-help>
