
<img src="assets/logo.png" alt="Logo" class="logo-image">
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let booking of bookings">
      <div class="card h-100">
        <div class="card-body">
          <h4 class="card-title">Booking</h4>
          <p class="card-text"><strong>Username:</strong> {{ booking.userName }}</p>
          <p class="card-text"><strong>Vehicle:</strong> {{ booking.vehicleName }}</p>
          <p class="card-text"><strong>Project:</strong> {{ booking.projectName }}</p>
          <p class="card-text"><strong>Event:</strong> {{ booking.event }}</p>
          <p class="card-text"><strong>StartDate:</strong> {{ booking.startDate | date }}</p>
          <p class="card-text"><strong>EndDate:</strong> {{ booking.endDate | date }}</p>
          <p class="card-text"><strong>Rate Type:</strong> {{ booking.rateType }}</p> <!-- Ensure correct binding -->
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button class="btn btn-edit" (click)="openEditModal(booking)">Edit</button>
          <button class="btn btn-danger" (click)="deleteBooking(booking.bookingID)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for editing booking -->
<ng-template #editBookingModal let-modal>
  <app-edit-booking
    [booking]="selectedBooking"
    (close)="closeEditModal()"
  ></app-edit-booking>
</ng-template>
