<div class="container">
    <div class="form-wrapper">
        <h2>Create Trip</h2>

        <div *ngIf="message" class="notification" [ngClass]="{'success': message === 'Trip has been successfully created', 'error': message !== 'Trip has been successfully created'}">
            {{ message }}
        </div>

        <form [formGroup]="tripForm" (ngSubmit)="onSubmit()" class="trip-form">
            <!-- Vehicle Name -->
            <div class="form-group">
                <label for="vehicleName">Vehicle</label>
                <input id="vehicleName" formControlName="vehicleName" class="form-control" placeholder="Vehicle Name" />
            </div>

            <!-- Location -->
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" formControlName="location" class="form-control">
                <div *ngIf="tripForm.get('location')?.invalid && tripForm.get('location')?.touched" class="text-danger">
                    Location is required.
                </div>
            </div>

            <!-- Comment -->
            <div class="form-group">
                <label for="comment">Description</label>
                <textarea id="comment" formControlName="comment" class="form-control"></textarea>
            </div>

            <!-- Travel Start DateTime -->
            <div class="form-group">
                <label for="travelStart">Travel Start</label>
                <input type="datetime-local" id="travelStart" formControlName="travelStart" class="form-control">
                <div *ngIf="tripForm.get('travelStart')?.invalid && tripForm.get('travelStart')?.touched" class="text-danger">
                    Travel Start Date and Time is required.
                </div>
            </div>

            <!-- Travel End DateTime -->
            <div class="form-group">
                <label for="travelEnd">Travel End</label>
                <input type="datetime-local" id="travelEnd" formControlName="travelEnd" class="form-control">
                <div *ngIf="tripForm.get('travelEnd')?.invalid && tripForm.get('travelEnd')?.touched" class="text-danger">
                    Travel End Date and Time is required.
                </div>
            </div>

            <!-- Booking ID (Hidden Field) -->
            <input type="hidden" id="bookingID" formControlName="bookingID">

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary" [disabled]="tripForm.invalid">Create Trip</button>
        </form>
    </div>
</div>
