<div class="container">
  
  
  <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="vehicleName">Vehicle Name</label>
      <input id="vehicleName" formControlName="vehicleName" class="form-control" placeholder="Enter Vehicle Name" />
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input id="location" formControlName="location" class="form-control"  placeholder="Enter Trip Location" />
    </div>

    <div class="form-group">
      <label for="comment">Comment</label>
      <textarea id="comment" formControlName="comment" class="form-control"  placeholder="Enter Trip Comments"></textarea>
    </div>

    <div class="form-group">
      <label for="travelStart">Travel Start</label>
      <input id="travelStart" type="datetime-local" formControlName="travelStart" class="form-control"  />
    </div>

    <div class="form-group">
      <label for="travelEnd">Travel End</label>
      <input id="travelEnd" type="datetime-local" formControlName="travelEnd" class="form-control" />
    </div>

   

    

    <input type="hidden" formControlName="bookingID" />
    <input type="hidden" formControlName="checklistId" />


    <button type="submit" class="btn btn-primary">Create Trip</button>
  </form>

  <div *ngIf="message" class="alert alert-danger">{{ message }}</div>
</div>
